<!--
  Generated template for the Welcome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf='showRegister'>Registro</ion-title>
    <ion-title *ngIf='!showRegister'>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <img src="./assets/logocirculo.png" width="40%" />
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col text-center>
<ion-item>
  <ion-label floating>Usuario</ion-label>
  <ion-input type="text" ></ion-input>
</ion-item><ion-item>
  <ion-label floating >Contraseña</ion-label>
  <ion-input type="password" ></ion-input>
</ion-item>
      <button ion-button  center round outline (click)="continueAsAdmin()">Continuar como administrador</button>

    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col text-center>
      <button ion-button center round outline >Continuar como invitado</button>
      <button ion-button (click)="doFbLogin()" block>Entrar con Facebook</button>
      <button ion-button block color="danger" (click)="doGoogleLogin()">Entrar con Google +</button>

    </ion-col>
  </ion-row>

</ion-content>